<h2 class="h-r size-L w-ul rogers-red"><%= t("pages.email_sent.check").html_safe %></h2>
<% content_for :live_chat_url, t('live_chat.confirmation_email') %>

<p><%= t("pages.email_sent.sent_to") %> <strong><%= session[:email_address] %></strong></p>
<p><%= t("pages.email_sent.contains") %></p>

<p><%= t("pages.email_sent.email_delay") %></p>

<p><button class="btn btn-default" data-target="#new_session_modal" data-toggle="modal" href="#new_session_modal" id="btn-signin"><%= t("btn.sign_in").html_safe %></button></p>

<% content_for :live_chat_content do %>
  <%= render "layouts/live_chat" %>
<% end %>