<% content_for :footer do  ajax_validation(:forgot_password, forgot_password_answer_path) end %>
<% content_for :title, t('titles.forgot_password').html_safe %>

<section class="content-wrapper">
	<h2 class="h-lgt sizes-M w-ul"><%= t("profiles.recover.forgot_password_html") %></h2>

	<%= render "layouts/form_error_header", object: @forgot_password %>

	<p class="cc"><%= t("profiles.recover.must_answer") %></p>

	<%= simple_form_for @forgot_password, remote: true, html: {class: 'general-form' }, url: forgot_password_answer_path, data: { validate: 'forgot_password'} do |f| %>
	  	<%= f.input :password_answer, label: @forgot_password.password_hint %>
	  	<%= f.input :email_address, as: :hidden %>
	  	<%= f.input :password_hint, as: :hidden %>

		<p><%= link_to t('btn.cancel'), root_path, class: 'btn btn-cancel' %> <%= f.button :submit, t('btn.continue') %></p>
	<% end %>
</section>

<section class="content-wrapper">
    <h2 class="h-lgt sizes-M3"><%= t("text.need_help") %></h2>
    <ul class="inline-list help-list">
    <% if I18n.locale == I18n.default_locale %> 
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=701&lctc=701%7C01%7Cws%7CGCL_portal_ForgotLogin_en" rel="external" target="blank"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <% else %>
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=751&lctc=751%7C01%7Cws%7CGCL_portal_ForgotLogin_fr" rel="external" target="blank"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <%end%>
	</ul>
</section>