<table class="summary-table" summary="Review order details">
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.payment_method') %>:</strong></td>
		<td class="summary-col"><%= t('orders.rogers_bill') %> (<%= @session.profile.accounts.find(account_token: @order.rogers_account_token).try(:first).try(:account_desc) %>)</td>
	</tr>
	<% unless @order.phone_number.blank? %>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.phone_number') %>:</strong></td>
		<td class="summary-col"><%= @order.phone_number %></td>
	</tr>
	<% end %>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.birthdate') %>:</strong></td>
		<td class="summary-col"><%= l @order.birthdate, :format => :long %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.auto_renew') %>:</strong></td>
		<td class="summary-col"><%= @order.auto_renew.to_i == 0 ? t('simple_form.no') : t('simple_form.yes') %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.purchase_date') %>:</strong></td>
		<td class="summary-col"><%= l Date.today, :format => :long %></td>
	</tr>
</table>