<table class="summary-table" summary="Review order details">
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.payment_method') %>:</strong></td>
		<td class="summary-col"><%= t('orders.credit_card') %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.name') %>:</strong></td>
		<td class="summary-col"><%= "#{@order.full_name}" %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.cc_type') %>:</strong></td>
		<td class="summary-col"><%= @order.cc_type %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.card_number') %>:</strong></td>
		<td class="summary-col"><%= @order.masked_cc %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.street') %>:</strong></td>
		<td class="summary-col"><%= @order.street %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.city') %>:</strong></td>
		<td class="summary-col"><%= @order.city %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.province') %>:</strong></td>
		<td class="summary-col"><%= @order.province %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.postal_code') %>:</strong></td>
		<td class="summary-col uc"><%= @order.postal_code %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.birthdate') %>:</strong></td>
		<td class="summary-col"><%= l @order.birthdate, :format => :long %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.auto_renew') %>:</strong></td>
		<td class="summary-col"><%= @order.auto_renew ? t('simple_form.yes') : t('simple_form.no') %></td>
	</tr>
	<tr class="summary-row">
		<td class="summary-col"><strong><%= t('orders.purchase_date') %>:</strong></td>
		<td class="summary-col"><%= l Date.today, :format => :long %></td>
	</tr>


</table>