<% content_for :title, t("signin.page_heading_no_html").html_safe %>
<% content_for :footer do ajax_validation(:session, nil, 'main') end %>

<section class="region signin">
	<h2 class="h-reg sizes-XLG cc">
	<% if params[:optin] == 'true' %>
		<%= t('signin.header') %>
	<% else %>
		<%= t('signin.header') %>
	<% end %>
	</h2>
	<h3 class="h-med sizes-M w-ul xlg-m"><%= t('signin.subheader').html_safe %><small class="block sub-lead"><%= t('signin.lets_see').html_safe %></small></h3>

  	<%= render "sessions/form_error_header", object: @session %>
	
	<%= simple_form_for(@session, remote: true, html: {class: 'general-form form-sm-centered default-form' }, data: {validate: 'session.main'}) do |f| %>
		<fieldset class="sign-in-set">
      		<legend class="legend-visible"><%= t('signin.sign_in').html_safe %></legend>

			<%= f.input :username, label: t('activemodel.attributes.session.username_html'), placeholder: t('activemodel.attributes.profile.username'), input_html: {autocomplete: 'on', autocapitalize: 'off', autocorrect: 'off' } %>
			<%= f.input :password, label: t('activemodel.attributes.session.password_html'), placeholder: t('activemodel.attributes.profile.password'), hint: false, input_html: {:autocomplete => 'off', :autocapitalize => 'off', :autocorrect => 'off',  maxlength: 16 } %>
			<p><%= f.button :submit, t('btn.login') %></p>
		</fieldset>
		
		<p><%= t('text.forgot') %> <%= link_to t("text.username").downcase, CONFIG["forgot_username_#{session[:lang].to_s}".to_sym], title: t('sessions.will_be_taken') , rel: 'external', target: 'blank' %> <%= t('text.or') %> <%= link_to t("text.password").downcase, forgot_password_path %>?</p>
		<p><%= t("signin.getmyrogers").html_safe %></p>
<% end %>
</section>