<%= render 'module_hero_video' %>

<h4 class="hero-title h-sb center fluid"><%= t("homepage.tagline") %></h4>

<div class="hp-summary fluid">

    <h4 class="hp-title size-LG2 h-l rogers-red">
        <%= t("homepage.title-a") %><br/>
        <span class="h-sb rogers-red"><%= t("homepage.title-b") %></span>
    </h4>    

    <div class="hp-summary-description size-L4 h-l">
        <p><%= t("homepage.description-a") %></p>
        <p><%= t("homepage.description-b") %></p>
    </div>

</div>