<% if object.errors.full_messages.any? %>
  <div id="form-errors" class="region form-errors">
    <p class="cc"><strong><%= t("form.errors.error_title") %></strong></p>
    <ol class="error-listing">
      <% object.errors.messages[:base].try(:each) do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  </div>

  <script>
    addLoadEvent(function() {
      dataLayer.push({ 'event': 'revent', 'eventCategory': 'errors', 'eventAction': '<%= object.class.to_s %> error fields: <%= object.errors.messages.keys.join(',') %>', 'eventLabel': '<%= object.errors.messages[:base].try(:join, '|') %>' });
    });
  </script>
<% end %>

