<% content_for :title, t('titles.faq').html_safe %>

<section class="content-wrapper">
	<h2 class="h-lgt sizes-M w-ul"><%= t("pages.faq.heading").html_safe %></h2>
	<p><%= t("pages.faq.headline").html_safe %></p>
	<!-- <p class="lg-m"><%= t("pages.getting_started.download").html_safe %></p> -->
	

	<h3 class="sizes-SM"><%= t("pages.faq.header.heading1").html_safe %></h3>

	<p><%= t("pages.faq.header.excerpt1").html_safe %></p>

	<h3 class="sizes-SM"><%= t("pages.faq.header.heading2").html_safe %></h3>

	<p class="lg-m"><%= t("pages.faq.header.excerpt2").html_safe %></p>

	<div class="content-wrapper row info info-lg info--secondary" role="navigation">
		<div class="col span-3">
			<ul class="no-bullet copy-size-S styled-bullets">
				<li><a href="#overview"><%= t("pages.faq.overview.heading").html_safe %></a></li>
				<li><a href="#purchasing"><%= t("pages.faq.purchasing.heading").html_safe %></a></li>
				<li><a href="#french"><%= t("pages.faq.french_package.heading").html_safe %></a></li>
				<li><a href="#blackouts"><%= t("pages.faq.blackouts.heading").html_safe %></a></li>
			</ul>
		</div>
		<div class="col span-3">
			<ul class="no-bullet copy-size-S styled-bullets">
				<li><a href="#using"><%= t("pages.faq.using.heading").html_safe %></a></li>
				<li><a href="#access"><%= t("pages.faq.access.heading").html_safe %></a></li>
				<li><a href="#devices"><%= t("pages.faq.devices.heading").html_safe %></a></li>
				<li><a href="#gameplus"><%= t("pages.faq.gameplus.heading").html_safe %></a></li>
			</ul>
		</div>
	</div>
</section>

<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="overview"><%= t("pages.faq.overview.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.overview.1_title").html_safe %></dt>
		<dd>
			<%#= t("pages.faq.notes.effective").html_safe %> <%= t("pages.faq.overview.1_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.overview.1_copy2").html_safe %>
		</dd>
		<dd>
			<ul class="no-m">
				<%= t("pages.faq.overview.1_list1").html_safe %>
			</ul>
		</dd>
		<dd>
			<%= t("pages.faq.overview.1_copy3").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.overview.1_copy4").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.overview.1_copy5").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.overview.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.overview.2_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.overview.2_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.overview.2_copy3").html_safe %>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>

<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="purchasing"><%= t("pages.faq.purchasing.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.purchasing.1_title").html_safe %></dt>
		<dd>
			<%#= t("pages.faq.notes.effective").html_safe %> <%= t("pages.faq.purchasing.1_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.1_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.1_copy3").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.purchasing.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.2_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.2_copy2").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.purchasing.3_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.3_copy1").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.purchasing.4_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.4_copy1").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.purchasing.5_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.5_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.5_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.5_copy3").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.purchasing.6_title").html_safe %></dt>
		<dd>
			<%#= t("pages.faq.notes.effective").html_safe %> <%= t("pages.faq.purchasing.6_copy1").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->


		<dt><%= t("pages.faq.purchasing.7_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.7_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.7_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.7_copy3").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.7_copy4").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.purchasing.7_copy5").html_safe %>
		</dd>
		<dd>	
			<%= t("pages.faq.purchasing.7_copy6").html_safe %>
		</dd>


		<dt><%= t("pages.faq.purchasing.8_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.8_copy1").html_safe %>
		</dd>

		<dt><%= t("pages.faq.purchasing.9_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.purchasing.9_copy1").html_safe %>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>


<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="french"><%= t("pages.faq.french_package.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.french_package.1_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.french_package.1_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.french_package.1_copy2").html_safe %>
		</dd>

		<dt><%= t("pages.faq.french_package.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.french_package.2_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.french_package.2_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.french_package.2_copy3").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.french_package.2_copy4").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.french_package.2_copy5").html_safe %>
		</dd>

		<dt><%= t("pages.faq.french_package.3_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.french_package.3_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.french_package.3_copy2").html_safe %>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>


<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="blackouts"><%= t("pages.faq.blackouts.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.blackouts.1_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.blackouts.1_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.blackouts.1_copy2").html_safe %>
		</dd>

		<dt><%= t("pages.faq.blackouts.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.blackouts.2_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.blackouts.2_copy2").html_safe %>
			<ol class="alpha-list">
				<%= t("pages.faq.blackouts.2_list1").html_safe %>
			</ol>
		</dd>
		<dd>
			<%= t("pages.faq.blackouts.2_copy3").html_safe %>
			<ol class="alpha-list">
				<%= t("pages.faq.blackouts.2_list2").html_safe %>
			</ol>
		</dd>
		<dd>
			<%= t("pages.faq.blackouts.2_copy4").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.blackouts.2_copy5").html_safe %>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>


<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="using"><%= t("pages.faq.using.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.using.1_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.using.1_copy1").html_safe %>
		</dd>

		<dt><%= t("pages.faq.using.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.using.2_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.using.2_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.using.2_copy3").html_safe %>
		</dd>
		<dd>
			<small><%= t("pages.faq.notes.data_consumption").html_safe %></small>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>

<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="access"><%= t("pages.faq.access.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.access.1_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.access.1_copy1").html_safe %>
		</dd>

		<dt><%= t("pages.faq.access.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.access.2_copy1").html_safe %>
		</dd>
		<dd>
			<%#= t("pages.faq.notes.effective").html_safe %> <%= t("pages.faq.access.2_copy2").html_safe %>
		</dd>
		<!-- <dd>
			<small><%= t("pages.faq.notes.overages").html_safe %></small>
		</dd> -->

		<dt><%= t("pages.faq.access.3_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.access.3_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.access.4_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.access.4_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.access.5_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.access.5_copy1").html_safe %> 
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>


<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="devices"><%= t("pages.faq.devices.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.devices.1_title").html_safe %></dt>
		<dd><%= t("pages.faq.devices.1_copy1").html_safe %>
			<ul>
				<%= t("pages.faq.devices.1_list1").html_safe %>
			</ul>
		</dd>
		<dd>
			<%= t("pages.faq.devices.1_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.devices.1_copy3").html_safe %>
		</dd>
		<dd><%= t("pages.faq.devices.1_copy4").html_safe %>
			<ul>
				<%= t("pages.faq.devices.1_list2").html_safe %>
			</ul>
		</dd>


		<dt><%= t("pages.faq.devices.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.devices.2_copy1").html_safe %>
		</dd>


		<dt id="data-usage"><%= t("pages.faq.devices.3_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.devices.3_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.devices.3_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.devices.3_copy3").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.devices.3_copy4").html_safe %>
		</dd>


		<dt><%= t("pages.faq.devices.4_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.devices.4_copy1").html_safe %>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>

<section class="content-wrapper">
	<h3 class="sizes-M2 cc w-ul anchored" id="gameplus"><%= t("pages.faq.gameplus.heading").html_safe %></h3>

	<dl class="content-listing">
		<dt><%= t("pages.faq.gameplus.1_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.1_copy1").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.gameplus.1_copy2").html_safe %>
		</dd>
		<dd>
			<%= t("pages.faq.gameplus.1_copy3").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.2_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.2_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.3_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.3_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.4_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.4_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.5_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.5_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.6_title").html_safe %></dt>
		<dd><%= t("pages.faq.gameplus.6_copy1").html_safe %>
			<ul>
				<%= t("pages.faq.gameplus.6_list1").html_safe %>
			</ul>
		</dd>
		<dd>
			<%= t("pages.faq.gameplus.6_copy2").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.7_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.7_copy1").html_safe %>
		</dd>


		<dt><%= t("pages.faq.gameplus.8_title").html_safe %></dt>
		<dd>
			<%= t("pages.faq.gameplus.8_copy1").html_safe %>
		</dd>
	</dl>

	<p class="text-right top-of-page"><a href="#main-content"><%= t("blackouts.text.top").html_safe %></a></p>
</section>


<section class="content-wrapper has--fancy-top">
	<h2 class="h-lgt sizes-M3"><%= t("pages.faq.notes.still_looking_heading").html_safe %></h2>
	<p><%= t("pages.faq.notes.still_looking_copy").html_safe %></p>
</section>


<section class="content-wrapper">
    <h2 class="h-lgt sizes-M3"><%= t("text.need_help") %></h2>
    <ul class="inline-list help-list">
    <% if I18n.locale == I18n.default_locale %>
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=701&lctc=701%7C01%7Cws%7CGCL_portal_Support_en" target="blank" rel="external"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <% else %>
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=751&lctc=751%7C01%7Cws%7CGCL_portal_Support_fr" target="blank" rel="external"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <%end%>
	</ul>
</section>

<% content_for :legal_footnotes do %>
	<%= render 'partials/footnotes_faq' %>
<% end %>