  <% content_for :footer do  ajax_validation(:order, order_summary_path) end %>

	<%= render "layouts/form_error_header", object: @order %>

	<%= simple_form_for(@order, url: order_summary_path, data: {validate: 'order'}, html: {class: 'general-form' }) do |f| %>
		<fieldset class="content-wrapper">
    		<legend class="hide-text"><%= t("form.legend.account_info") %></legend>
			<%= f.input :rogers_account_token, collection: @current_session.profile.collection, required: true, prompt: t('simple_form.prompts.order.rogers_account_token') %>
	  	</fieldset>
	  	<fieldset class="content-wrapper">
    		<legend class="h-r legend-visible size-L"><%= t('orders.contact_info') %></legend>
			<%= f.input :phone_number, required: true, as: :tel, placeholder: '555-555-5555' %>
			<%= f.input :billing_option, as: :hidden, :input_html => { :value => "rogersbill" }%>
			<%= f.input :offer_id, as: :hidden %>
			<br/>
			<%= f.input :birthdate, as: :date, icon: { content: '', class: "i--helper dob-helper", data: {title: t('orders.need_dob')} }, hint: t('orders.need_dob'), :wrapper_class => 'form-row form-info', prompt: { day: t('text.day'), month: t('text.month'), year: t('text.year')}, start_year: Date.today.year - 90, end_year: Date.today.year - 12, required: true %>
		</fieldset>
		<fieldset class="content-wrapper submit-fieldset">
    		<legend class="h-sb size-SM uc"><%= t("orders.terms") %></legend>
    		<%= render 'tos/modal', tos: @tos %>
			<%= f.input :tos, as: :boolean, :wrapper => :inline_checkbox, label: t('orders.term1').html_safe %>

			<%= f.input :tos2, as: :boolean, :wrapper => :inline_checkbox, :input_html => { :class => "check-tos" }, required: true, label: t('orders.term2').html_safe %>
	  	</fieldset>

	  	<fieldset class="content-wrapper submit-fieldset">
    		<legend class="h-sb size-SM uc"><%= t("orders.terms_optional") %></legend>
			<%= f.input :optin_email, as: :boolean, :wrapper => :inline_checkbox, label: t('profiles.receive_email').html_safe %>

	  		<p class="order-submit"><%= link_to t('btn.cancel'), profiles_path, class: 'btn btn-cancel' %> <%= f.button :submit, t('btn.submit') %></p>
	  	</fieldset>

	<% end %>