<section class="fluid heros-enhanced">
	<h2 class="hide-text"><%= t('profiles.main.hero.collections') %></h2>
	<div class="collections-grid span--2">

		<article class="cols collection-lead">
			<h2 class="collections-title"><strong class="wfd">shomi</strong> <span class="shomi-cta"><%= t('profiles.main.hero.collections') %></span></h2>

			<p class="lead-copy wfr"><%= t('profiles.main.hero.collections_description') %></p>
		</article>

		<div class="cols collection-features">
			
			<div class="featured-main">
				<span class="featured-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/features/goodfellas-lg.jpg' %>" data-alt="" data-width="413" data-height="242"></span>
				<article class="featured-content">
					<h3 class="h-reg sizes-XSM anchored" id="collections"><%= t('profiles.main.hero.collections_title1') %></h3>
					<p class="wfr no-m"><%= t('profiles.main.hero.collections_desc1') %></p>
					<p class="notes"><%= t('profiles.main.hero.collections_ratings1').html_safe %></p>
				</article>
			</div>

			<div class="featured-secondary">
				<span class="featured-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/features/shawshank-lg.jpg' %>" data-alt="" data-width="300" data-height="194"></span>
				<article class="featured-content">
					<h3 class="h-reg featured-title"><%= t('profiles.main.hero.collections_title2') %></h3>
					<p class="wfr no-m"><%= t('profiles.main.hero.collections_desc2') %></p>
				</article>
			</div>

			<div class="collection-boxart1">
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/2001.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/brokeback-mountain.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/casino.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/do-the-right-thing.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/erin-brokovich.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/fargo.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/glory.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/goodfellas.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
			</div>

			<div class="collection-boxart2">
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/midnight-express.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/pulp-fiction.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/shawshank-redemption.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/taxi-driver.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/the-exorcist.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="box-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/collections/boxart/vertigo.jpg' %>" data-alt="" data-width="130" data-height="195"></span>

        <p class="box-img box-tags"><%= t('profiles.main.hero.box_tags').html_safe %></p>
			</div>

		</div>

	</div>
</section>