<section class="hero-LG-centered has--border">
	<h2 class="h-med sizes-M med-m anchored" id="tv-movies"><%= t('profiles.main.hero.tv_movies').html_safe %></h2>
	<p class="wfr copy--L2 xlg-m silly-width"><%= t('profiles.main.hero.tv_movies_description').html_safe %></p>

	<div class="simple-grid span-of-3 lazy-img">
		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.only_on_shomi').html_safe %></h3>
			<div class="boxart-span-3">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/only-on/jane-virgin.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/only-on/transparent.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/only-on/louie.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/only-on/shameless.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/only-on/modern-family.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/only-on/soa.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
			</div>
		</article>

		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.trend_tv') %></h3>
			<div class="boxart-span-3">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/trending/oc.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/trending/homeland.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/trending/friday-night-lights.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/trending/family-guy.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/trending/doctor-who.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/trending/30-rock.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
			</div>
		</article>

		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.more_movies') %></h3>
			<div class="boxart-span-3 block-ms-6">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/more/matrix.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/more/knocked-up.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/more/simpsons.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/more/kiss-kiss-bang-bang.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/more/carrie.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/tv-movies/more/sleepless-in-seattle.jpg' %>" data-alt="" data-width="220" data-height="119"></span>
			</div>
		</article>
	</div>
</section>