<section class="hero-LG-centered">
	<h2 class="h-med sizes-M med-m anchored" id="kids-family"><%= t('profiles.main.hero.kids_family').html_safe %></h2>
	<p class="wfr copy--L2 xlg-m silly-width"><%= t('profiles.main.hero.kids_family_description').html_safe %></p>

	<div class="simple-grid span-of-4">
		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.munchkin_land').html_safe %></h3>
			<div class="boxart-span-2">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/munchkin/dora.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/munchkin/peppa-pig.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/munchkin/bubble-guppies.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/munchkin/bob-builder.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
			</div>
		</article>

		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.kids_club').html_safe %></h3>
			<div class="boxart-span-2">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/kids/avengers.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/kids/spongebob.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/kids/super-mario.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/kids/sam-max.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
			</div>
		</article>

		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.tween_hangout').html_safe %></h3>
			<div class="boxart-span-2">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/tween/icarly.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/tween/young-herc.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/tween/coraline.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/tween/drake-josh.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
			</div>
		</article>

		<article class="box">
			<h3 class="h-med sizes-XSM"><%= t('profiles.main.hero.for_family').html_safe %></h3>
			<div class="boxart-span-2 block-ms-4">
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/family/inkheart.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/family/hoodwinked.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/family/karate-kid.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
				<span class="boxart-img" aria-hidden="true" data-src="<%= asset_path '/assets/box-art/kids/family/cloudy-meatballs.jpg' %>" data-alt="" data-width="130" data-height="195"></span>
			</div>
		</article>
	</div>
</section>