<% content_for :title, t('titles.change_password').html_safe %>

<section class="region">

  <% content_for :below_navigation do %>
    <div class="row no-b-margin">
      <p class="text-center"><%= t("profiles.reset_password") %></p>
      <%= render "layouts/form_error_header", object: @change_password %>
    </div>
  <% end %>

  <%= simple_form_for @change_password, remote: true, html: {class: 'general-form' }, url: change_password_path do |f| %>
    <%= f.input :new_password, label: false, input_html: { placeholder: t('simple_form.placeholders.new_password') } %>
    <%= f.input :new_password_confirmation, label: false, input_html: { placeholder: t('simple_form.placeholders.new_password_confirmation') } %>

    <div class="submission"> <%= f.button :submit, t('btn.continue'), class: 'btn-light' %></div>
    <div class="submission"> <%= link_to t('buttons.go_back'), 'http://www.nextissue.ca', class: 'btn btn-cancel' %></div>
  <% end %>
</section>
