<% content_for :footer do  ajax_validation(:forgot_password, forgot_password_email_path) end %>

<% content_for :title, t("titles.forgot_password") %>

<% content_for :below_navigation do %>
  <h3><%= t("profiles.recover.enter_password") %></h3>

  <%= render "layouts/form_error_header", object: @forgot_password %>
<% end %>

<section class="content-wrapper">
	<%= simple_form_for @forgot_password, remote: true, html: {class: 'general-form' }, url: forgot_password_email_path, data: { validate: 'forgot_password'} do |f| %>
		<%= f.input :email_address, label: false, required: true, input_html: { placeholder: t('simple_form.placeholders.email_address'), title: t('errors.attributes.email_address.blank'), autofocus: true } %>

    <div class="large-submission"><%= f.button :submit, t('btn.continue'), class: 'btn-light' %></div>
    <div class="submission"><%= link_to t('buttons.go_back'), new_session_path, class: 'btn btn-cancel' %></div>
	<% end %>
</section>
