<%= render 'module_hero_video' %>

<h2 class="hero-title h-med text-center fluid"><%= t("homepage.tagline") %></h2>
<div class="hp-summary text-center fluid">
    <h3 class="hp-title sizes-L cc">
        <span class="h-lgt"><%= t("homepage.title-a") %></span>
        <br>
        <span class="h-med"><%= t("homepage.title-b") %></span>
    </h3>
    <div class="hp-summary-description h-lgt sizes-S">
        <p><%= t("homepage.description-a") %></p>
        <p><%= t("homepage.description-b") %></p>
    </div>
</div>