
<p class="text-center"><%= t("pages.email_sent.sent_to") %> <strong><%= session[:email_address] %></strong></p>
<p class="text-center"><%= t("pages.email_sent.contains") %></p>

<p class="text-center"><%= t("pages.email_sent.email_delay") %></p>

<div class="general-form">
  <div class="large-submission">
    <%= link_to t("menu.sign_in"), new_session_path, :class => "btn btn-default" %>
  </div>
</div>

