<article class="feature is--fancy">
<%= section :signin, auto_generate: false do %>
	<h3 class="h-sb sizes-S"><%= t("promos.promo_signin_rogers.heading").html_safe %></h3>
	<div class="feature-body">
		<p class="feature-excerpt yuck1"><%= t("promos.promo_signin_rogers.excerpt").html_safe %></p>
		<p><button class="btn btn-default btn-block" data-target="#new_session_modal" data-toggle="modal" href="#new_session_modal" id="btn-signin"><%= t("btn.get_free").html_safe %></button></p>
		<p class="small-text"><%= t("promos.promo_signin_rogers.footer").html_safe %></p>
	</div>
<% end %>
</article>