<% content_for :title, 'Available Devices' %>

<section id="gcl-devices" class="region list-of-features lazy-img">
	<h2 class="h-lgt sizes-M w-ul"><%= t("titles.devices").html_safe %></h2>

	<article class="feature is--Listing">
		
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-android.jpg' %>" data-alt='<%= t("pages.devices.device1_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device1_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device1_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>
	
	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-appletv.jpg' %>" data-alt='<%= t("pages.devices.device2_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device2_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device2_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>
	
	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-ipad.jpg' %>" data-alt='<%= t("pages.devices.device3_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device3_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device3_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>

	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-iphone.jpg' %>" data-alt='<%= t("pages.devices.device4_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device4_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device4_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>

	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-ps3.jpg' %>" data-alt='<%= t("pages.devices.device5_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device5_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device5_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>

	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-psvita.jpg' %>" data-alt='<%= t("pages.devices.device6_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device6_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device6_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>

	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-roku.jpg' %>" data-alt='<%= t("pages.devices.device7_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device7_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device7_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>

	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-sony.jpg' %>" data-alt='<%= t("pages.devices.device8_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device8_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device8_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>

	<article class="feature is--Listing">
		<span class="feature-img img--isListing" aria-hidden="true" data-src="<%= asset_path 'content/device-xbox.jpg' %>" data-alt='<%= t("pages.devices.device9_heading").html_safe %>' data-width="340" data-height="250"></span>
		
		<div class="feature-body">
			<h3 class="sizes-SM"><%= t("pages.devices.device9_heading").html_safe %></h3>
			<p class="list-excerpt"><%= t("pages.devices.device9_copy").html_safe %></p>
			<!-- <p><a href="/" class="btn btn-secondary"><%= t("btn.learn_more") %></a> -->
		</div>
	</article>
</section>