<% content_for :title, t('titles.change_password').html_safe %>

<section class="region">
	<h2 class="h-reg sizes-XLG cc">Forgot your MyROGERS Password</h2>

	<%= render "layouts/form_error_header", object: @change_password %>

	<%= simple_form_for @change_password, remote: true, html: {class: 'general-form form-sm-centered' }, url: change_password_path do |f| %>
		<%= f.input :new_password %>
		<%= f.input :new_password_confirmation, required: true %>

		<p><%= link_to t('btn.cancel'), root_path, class: 'btn btn-cancel' %> <%= f.button :submit, t('btn.continue') %></p>
	<% end %>
</section>
