<% content_for :footer do  ajax_validation(:forgot_password, forgot_password_email_path) end %>
<% content_for :title, t('titles.forgot_password').html_safe %>

<section class="content-wrapper">
	<h2 class="h-reg sizes-XLG cc"><%= t("profiles.recover.forgot_your_password") %></h2>

	<h3 class="h-med sizes-M w-ul xlg-m"><%= t("profiles.recover.enter_password") %></h3>

	<%= render "layouts/form_error_header", object: @forgot_password %>

	<%= simple_form_for @forgot_password, remote: true, html: {class: 'general-form form-sm-centered default-form' }, url: forgot_password_email_path, data: { validate: 'forgot_password'} do |f| %>
    <fieldset class="sign-in-set">
      <legend class="legend-visible"><%= t("simple_form.labels.profile.recover_email_address").html_safe %></legend>
      <%= f.input :email_address, label: false, input_html: {title: t('errors.attributes.email_address.blank'), placeholder: t('activemodel.attributes.profile.username')} %>
    </fieldset>

		<p><%= link_to t('btn.cancel'), root_path, class: 'btn btn-cancel' %>
		<%= f.button :submit, t('btn.continue') %></p>
	<% end %>
</section>