<% content_for :title, t("profiles.recover.reset_password").html_safe %>

<section class="region">
	<h2 class="h-reg sizes-XLG cc"><%= t("profiles.recover.reset_password_html") %></h2>
	<%= simple_form_for :profile, remote: true, html: {class: 'general-form form-sm-centered' }, :url => reset_password_path do |f| %>
		<%= f.input :user_token, as: :hidden, input_html: {value: params[:id]} %>
	  	<%= f.input :new_password, label: t('text.password') %>
	  	<%= f.input :new_password_confirmation, label: t('profiles.confirm_password') %>
	  
	  	<p><%= f.button :submit, t('btn.continue') %></p>
	<% end %>
</section>