<section class="span-of-3 lazy-img" id="gameplus">
    <h2 class="h-lgt sizes-L text-center"><span class="ico i-logos i--logo-gameplus"><%= t("gameplus.heading").html_safe %></span></h2>
    <p class="text-center copy-LG useless-layout1"><%= t("gameplus.excerpt").html_safe %></p>
    <p class="text-center xlg-m"><a href="/gameplus" class="btn btn-default"><%= t("gameplus.explore").html_safe %></a></p>

    <article class="feature is--promo">
        <span class="feature-img img--isPromo" aria-hidden="true" data-src="<%= asset_path 'content/gp-feature5.jpg' %>" data-alt="<%= t("gameplus.promo1.heading").html_safe %>" data-width="220" data-height="119"></span>
        
        <div class="feature-body">
            <h3 class="sizes-SM"><%= t("gameplus.promo1.excerpt").html_safe %></h3>
        </div>
    </article>
    <article class="feature is--promo">
        <span class="feature-img img--isPromo" aria-hidden="true" data-src="<%= asset_path 'content/gp-feature1.jpg' %>" data-alt="<%= t("gameplus.feature1.heading").html_safe %>" data-width="200" data-height="119"></span>
        
        <div class="feature-body">
            <h3 class="sizes-SM"><%= t("gameplus.feature1.excerpt").html_safe %></h3>
        </div>
    </article>
    <article class="feature is--promo">
        <span class="feature-img img--isPromo" aria-hidden="true" data-src="<%= asset_path 'content/gp-feature7.jpg' %>" data-alt="<%= t("gameplus.feature7.heading").html_safe %>" data-width="200" data-height="119"></span>
        
        <div class="feature-body">
            <h3 class="sizes-SM"><%= t("gameplus.feature7.excerpt").html_safe %></h3>
        </div>
    </article>
</section>