<% content_for :title, t('titles.forgot_password').html_safe %>

<h2 class="h-reg sizes-XLG cc"><%= t("pages.email_sent.check").html_safe %></h2>
<h3 class="h-med sizes-M w-ul xlg-m"><%= t("pages.email_sent.sent_to") %> <strong class="cc"><%= session[:email_address] %></strong></h3>

<% content_for :live_chat_url, t('live_chat.confirmation_email') %>

<p class="copy--LG"><%= t("pages.email_sent.contains") %></p>

<p class="copy--LG xlg-m"><%= t("pages.email_sent.email_delay") %></p>

<p><button class="btn btn-default" data-target="#new_session_modal" data-toggle="modal" href="#new_session_modal" id="btn-signin"><%= t("btn.sign_in").html_safe %></button></p>

<% content_for :live_chat_content do %>
  <%= render "layouts/live_chat" %>
<% end %>