<h2 class="h-sb size-L w-ul"><%= t("pages.email_sent.check") %></h2>

<p><%= t("pages.email_sent.sent_to") %> <strong><%= session[:email_address] %></strong></p>
<p><%= t("pages.email_sent.contains") %></p>

<p><%= t("pages.email_sent.email_delay") %></p>

<p><button class="btn btn-default" data-target="#new_session_modal" data-toggle="modal" href="#new_session_modal" id="btn-signin"><%= t("btn.sign_in").html_safe %></button></p>

<section class="content-wrapper">
    <h2 class="h-sb size-L2"><%= t("text.need_help") %></h2>
    <ul class="inline-list help-list">
    <% if I18n.locale == I18n.default_locale %> 
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=701&lctc=701%7C01%7Cws%7CGCL_portal_EmailConf_en" rel="external" target="blank"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <% else %>
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=751&lctc=751%7C01%7Cws%7CGCL_portal_EmailConf_fr" rel="external" target="blank"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <%end%>
	</ul>
</section>