<% content_for :title, t("profiles.recover.reset_password") %>

<section class="region">

<h2 class="h-lgt sizes-M w-ul"><%= t("profiles.recover.reset_password_html") %></h2>

<%= simple_form_for :profile, html: {class: 'general-form' }, :url => reset_password_path do |f| %>
	<%= f.input :user_token, as: :hidden, input_html: {value: params[:id]} %>
  	<%= f.input :new_password, label: t('text.password') %>
  	<%= f.input :new_password_confirmation, label: t('profiles.confirm_password') %>
  
  	<p><%= f.button :submit, t('btn.continue') %></p>
<% end %>

</section>

<section class="content-wrapper">
    <h2 class="h-lgt sizes-M3"><%= t("text.need_help") %></h2>
    <ul class="inline-list help-list">
    <% if I18n.locale == I18n.default_locale %> 
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=701&lctc=701%7C01%7Cws%7CGCL_portal_ForgotLogin_en" rel="external" target="blank"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <% else %>
	    <li><a href="http://rogershelp.com/customerserv/livechatsupport/index.php?source=751&lctc=751%7C01%7Cws%7CGCL_portal_ForgotLogin_fr" rel="external" target="blank"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    <%end%>
	</ul>
</section>