<% content_for :footer do  ajax_validation(:order, order_summary_path) end %>
<% content_for :title, t('titles.contact_infos').html_safe %>

<section class="content-wrapper">

    <h2 class="h-lgt sizes-M w-ul"><%= t("titles.contact_infos") %></h2>

    <p><strong><%= t("orders.promo_code") %>:</strong> <%= session[:promo_code].code %></p>

    <%= render "layouts/form_error_header", object: @order %>

    <%= simple_form_for(@order, url: order_summary_path, html: {class: 'general-form' }, data: {validate: 'order'}) do |f| %>
        <fieldset class="content-wrapper">
            <legend class="hide-text"><%= t('form.legend.personal_details') %></legend>
            <%= f.input :first_name, required: true %>
              
            <%= f.input :last_name, required: true %>
            <%= f.input :street, required: true %>
            <%= f.input :city, required: true %>
            <%= f.input :province, collection: Portal::ZUORA_CA_STATES[session[:lang]], prompt: t("orders.province"), wrapper: 'fancy_select', required: true %>

            <%= f.input :postal_code, required: true, input_html: { size: 7, maxlength: 7, class: 'uppercase', title: t("errors.attributes.postal_code.blank")} %>
            <%= f.input :phone_number, required: true, as: :tel, placeholder: '555-555-5555' %>

            <%= f.input :birthdate, as: :date, icon: { content: '', class: "i--helper dob-helper", data: {title: t('orders.need_dob')} }, hint: t('orders.need_dob'), :wrapper_class => 'form-row form-info',  prompt: { day: t('text.day'), month: t('text.month'), year: t('text.year')}, start_year: Date.today.year - 90, end_year: Date.today.year - 12, required: true %>
        <%#= f.input :optin_email, as: :boolean, :wrapper => :inline_checkbox %>
        </fieldset>

        <fieldset class="content-wrapper">
            <legend class="hide-text"><%= t("form.legend.purchase_agreements") %></legend>
            <%= f.input :offer_id, as: :hidden %>

            <%= render 'tos/modal', tos: @tos %>
            
            <%= f.input :tos, as: :boolean, :wrapper => :inline_checkbox, required: true, :input_html => { :class => "check-tos" }, label: t('profiles.optin_accept').html_safe %>
            <%#= f.input :nhl_opt_in, as: :boolean, :wrapper => :inline_checkbox, :input_html => { :class => "check-tos" }, label: t('profiles.nhl_opt_in').html_safe %>

            <%= f.input :billing_option, as: :hidden %>
            <%= f.input :promo_code, as: :hidden %>
            <%= f.input :code_type, as: :hidden %>
        </fieldset>

        <p><%= link_to t('btn.cancel'), profiles_path, class: 'btn btn-cancel' %> <%= f.button :submit, t('btn.continue') %></p>
    <% end %>

    <%#= render 'tos/modal', tos: @tos %>
</section>