<p>
  <strong>Order id:</strong>
  <%= @order.order_id %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @order.offer_id %>
</p>

<p>
  <strong>Billing option:</strong>
  <%= @order.billing_option %>
</p>

<p>
  <strong>Province:</strong>
  <%= @order.province %>
</p>

<p>
  <strong>Cc token:</strong>
  <%= @order.cc_token %>
</p>

<p>
  <strong>Account token:</strong>
  <%= @order.rogers_account_token %>
</p>